In [1]:
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.gridspec as gridspec

import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv("data/indian_liver_patient.csv")
df.shape

(583, 11)

In [4]:
df.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [5]:
df['Albumin_and_Globulin_Ratio'].fillna(df['Albumin_and_Globulin_Ratio'].mean(), inplace=True)
df.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    0
Dataset                       0
dtype: int64

In [7]:
df.rename(columns={'Dataset':'target'},inplace=True)
df.head().T

                                 0     1     2     3     4
Age                             65    62    62    58    72
Gender                      Female  Male  Male  Male  Male
Total_Bilirubin                0.7  10.9   7.3     1   3.9
Direct_Bilirubin               0.1   5.5   4.1   0.4     2
Alkaline_Phosphotase           187   699   490   182   195
Alamine_Aminotransferase        16    64    60    14    27
Aspartate_Aminotransferase      18   100    68    20    59
Total_Protiens                 6.8   7.5     7   6.8   7.3
Albumin                        3.3   3.2   3.3   3.4   2.4
Albumin_and_Globulin_Ratio     0.9  0.74  0.89     1   0.4
target                           1     1     1     1     1