In [1]:
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline



from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV


from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
#Metrikler
from sklearn.metrics import accuracy_score, confusion_matrix,classification_report

In [3]:
df = pd.read_csv("data/indian_liver_patient.csv")
df.shape

(583, 11)

In [4]:
df.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [5]:
df['Albumin_and_Globulin_Ratio'].fillna(df['Albumin_and_Globulin_Ratio'].mean(), inplace=True)
df.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    0
Dataset                       0
dtype: int64

In [6]:
df.rename(columns={'Dataset':'target'},inplace=True)
df.head().T

                                 0     1     2     3     4
Age                             65    62    62    58    72
Gender                      Female  Male  Male  Male  Male
Total_Bilirubin                0.7  10.9   7.3     1   3.9
Direct_Bilirubin               0.1   5.5   4.1   0.4     2
Alkaline_Phosphotase           187   699   490   182   195
Alamine_Aminotransferase        16    64    60    14    27
Aspartate_Aminotransferase      18   100    68    20    59
Total_Protiens                 6.8   7.5     7   6.8   7.3
Albumin                        3.3   3.2   3.3   3.4   2.4
Albumin_and_Globulin_Ratio     0.9  0.74  0.89     1   0.4
target                           1     1     1     1     1

In [7]:
X = df.drop('target', axis=1)
y = df['target']

In [8]:
scaler = MinMaxScaler()
scaled_values = scaler.fit_transform(X)
X.loc[:,:] = scaled_values

NameError: name 'MinMaxScaler' is not defined

In [ ]:
X_train, X_test, y_train, y_test=train_test_split(X,y, stratify=y, test_size=0.3,random_state=42)